@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Raleway:wght@300&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap");
.tamaño-fuente-1 {
  font-size: 0.25rem;
}

.tamaño-fuente-2 {
  font-size: 0.5rem;
}

.tamaño-fuente-3 {
  font-size: 0.75rem;
}

.tamaño-fuente-4 {
  font-size: 1rem;
}

.tamaño-fuente-5 {
  font-size: 1.25rem;
}

.tamaño-fuente-6 {
  font-size: 1.5rem;
}

.tamaño-fuente-7 {
  font-size: 1.75rem;
}

.tamaño-fuente-8 {
  font-size: 2rem;
}

.tamaño-fuente-9 {
  font-size: 2.25rem;
}

.tamaño-fuente-10 {
  font-size: 2.5rem;
}

.ritmo-fondo {
  background-image: url("../media/acordes/ritmo.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
  min-height: 200px;
}

@media all and (min-width: 768px) {
  .ritmo-fondo {
    min-height: 300px;
  }
}

.convergentes-fondo {
  background-image: url("../media/acordes/convergentes.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
  min-height: 200px;
}

@media all and (min-width: 768px) {
  .convergentes-fondo {
    min-height: 300px;
  }
}

.tardenoche-fondo {
  background-image: url("../media/acordes/tardenoche.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
  min-height: 200px;
}

@media all and (min-width: 768px) {
  .tardenoche-fondo {
    min-height: 300px;
  }
}

.niveo-fondo {
  background-image: url("../media/acordes/niveo.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
  min-height: 200px;
}

@media all and (min-width: 768px) {
  .niveo-fondo {
    min-height: 300px;
  }
}

.llueve-fondo {
  background-image: url("../media/acordes/llueve.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
  min-height: 200px;
}

@media all and (min-width: 768px) {
  .llueve-fondo {
    min-height: 300px;
  }
}

.vidrio-fondo {
  background-image: url("../media/acordes/vidrio.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
  min-height: 200px;
}

@media all and (min-width: 768px) {
  .vidrio-fondo {
    min-height: 300px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}

#portada {
  background-image: url("../media/portada_mobile.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

#portada #titulo {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #050505;
  font-family: "Oxygen Mono", monospace;
}

@media all and (min-width: 315px) {
  #portada #titulo {
    font-size: 2rem;
  }
}

@media all and (min-width: 762px) {
  #portada #titulo {
    font-size: 3rem;
  }
}

#portada #flecha-abajo {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (min-width: 992px) {
  #portada #flecha-abajo {
    bottom: 8px;
  }
}

#portada .portada_flecha-abajo--ajuste {
  width: 1.5rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

@media (min-width: 768px) {
  #portada {
    background-image: url("../media/portada.jpg");
  }
  #portada #titulo {
    top: 30%;
  }
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#293c97));
  background: linear-gradient(to bottom, black, #293c97);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  min-height: 80px;
  border-top: black 2px solid;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

#header #logo {
  height: 60px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

@media all and (min-width: 762px) {
  #header #logo {
    height: 70px;
  }
}

#header #logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
}

#header .nav-item {
  font-size: 1.5rem;
}

#header .nav-item .active {
  color: #f55435;
}

@media all and (min-width: 762px) {
  #header .nav-item {
    font-size: 2rem;
  }
}

#header .nav-item a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.7);
}

#header .nav-item a:hover {
  color: #f55435;
}

#footer {
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(#293c97));
  background: linear-gradient(to top, black, #293c97);
  position: relative;
}

#footer .list-group {
  list-style: none;
}

#footer .list-group-item {
  background: none;
  border-color: #f55435;
}

#footer .footer_links {
  font-size: 1rem;
}

#footer .footer_links a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.7);
}

#footer .footer_links a:hover {
  color: #f55435;
}

@media (min-width: 768px) {
  #footer {
    min-height: 100px;
  }
  #footer .list-group-horizontal-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2rem;
  }
  #footer .list-group-horizontal-md .list-group-item {
    border: none;
  }
  #footer .list-group-horizontal-md .footer_links {
    width: 125px;
  }
  #footer .list-group-horizontal-md .footer_line {
    position: absolute;
    height: 15px;
    background: none;
    bottom: 65px;
    border-width: 0 0 0 2px;
    border-color: #f55435;
    border-style: solid;
  }
}

#footer .footer_name {
  color: rgba(245, 245, 245, 0.7);
  font-style: italic;
  font-size: .7rem;
}

@media all and (min-width: 768px) {
  #footer .footer_name {
    font-size: .9rem;
  }
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #f55435;
}

::-webkit-scrollbar-thumb:active {
  background: #d88912;
}

#album__nuevo {
  text-transform: capitalize;
  font-size: 1.5rem;
}

#album__titulo, #ultimas-canciones, .titulo, #contacto p, #sociales .sociales__titulo p {
  color: #f55435;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  font-style: italic;
  text-shadow: 2px 3px 1px #293c97;
}

@media all and (min-width: 762px) {
  #album__titulo, #ultimas-canciones, .titulo, #contacto p, #sociales .sociales__titulo p {
    font-size: 4rem;
  }
}

#album__disponible, .ahora {
  text-transform: lowercase;
  font-size: 1.25rem;
  font-style: italic;
}

#album__cover {
  -webkit-box-shadow: 10px 5px 1px #293c97;
          box-shadow: 10px 5px 1px #293c97;
}

.disponible-en, #sociales {
  background-color: #f55435;
  min-height: 150px;
  border-bottom: 3px #293c97 solid;
}

@media all and (min-width: 762px) {
  .disponible-en, #sociales {
    -webkit-box-shadow: 10px 5px 1px #293c97;
            box-shadow: 10px 5px 1px #293c97;
  }
}

.ahora {
  font-size: 1.75rem;
  font-weight: bold;
}

.album__redes, .acordes__youtube {
  font-size: 1.5rem;
}

.album__redes a, .acordes__youtube a {
  text-decoration: none;
  color: black;
}

.album__redes a:hover, .acordes__youtube a:hover {
  color: #293c97;
}

.album__redes img, .acordes__youtube img {
  width: 40px;
}

#ultimas-canciones {
  font-size: 2rem;
}

@media all and (min-width: 762px) {
  #ultimas-canciones {
    font-size: 3rem;
  }
}

.carousel-caption a {
  text-decoration: none;
  color: whitesmoke;
}

.carousel-caption a:hover {
  color: #f55435;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: white;
}

.carousel-control-prev-icon--change-arrow {
  background-image: url("../media/icons/flecha.png");
}

.carousel-control-next-icon--change-arrow {
  background-image: url("../media/icons/flecha.png");
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.carousel-diagonal .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-diagonal .carousel-inner .item,
.carousel-diagonal .carousel-inner .active.left,
.carousel-diagonal .carousel-inner .active.right {
  opacity: 0;
}

.carousel-diagonal .carousel-inner .active,
.carousel-diagonal .carousel-inner .next.left,
.carousel-diagonal .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-diagonal .carousel-inner .next,
.carousel-diagonal .carousel-inner .prev,
.carousel-diagonal .carousel-inner .active.left,
.carousel-diagonal .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.blog_titulo {
  margin-top: 1.5em;
}

.blog_preview {
  margin-top: 1em;
}

.blog_text {
  font-family: "Raleway", sans-serif;
}

.card-blog {
  border: none;
  border-radius: 0;
  border-bottom: #293c97 solid 1px;
}

.collapse-blog {
  border: none;
  border-radius: 0;
  border-top: #293c97 solid 1px;
}

.leerMas {
  color: #293c97;
}

.leerMas:hover {
  color: #f55435;
  text-decoration: none;
}

.leerMas:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

.blog_album_titulo {
  font-size: 1.2rem;
}

.acordeText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
}

@media all and (min-width: 768px) {
  .acordeText {
    font-size: 1.75rem;
  }
}

/* BOTONES DE DESCARGA Y ACORDES */
.acorde__boton {
  text-align: center;
  position: absolute;
}

.acorde__boton button {
  margin: 20px;
}

.acorde__boton .custom-btn {
  width: 130px;
  height: 40px;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Poppins", sans-serif;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  line-height: 42px;
}

.acorde__boton .custom-btn span {
  background: -webkit-gradient(linear, left bottom, left top, from(#f55435), to(#f55435));
  background: linear-gradient(0deg, #f55435 0%, #f55435 100%);
  border: black 1px solid;
  display: block;
  position: absolute;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.acorde__boton .custom-btn span:nth-child(1) {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.acorde__boton .custom-btn span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.acorde__boton .custom-btn span img {
  width: 2.5rem;
}

.acorde__boton .custom-btn:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.acorde__boton .custom-btn:hover span:nth-child(2) {
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.escuchar {
  top: 65%;
  left: 25%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.descargar {
  top: 65%;
  left: 75%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

#titulo {
  width: 18ch;
  -webkit-animation: typing 2s steps(18), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(18), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.up-down {
  -webkit-animation: up-down 2.5s ease-in-out infinite;
          animation: up-down 2.5s ease-in-out infinite;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.bump:hover {
  -webkit-animation: bump .25s ease-in-out;
          animation: bump .25s ease-in-out;
}

@-webkit-keyframes bump {
  33% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  66% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bump {
  33% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  66% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

#musica hr {
  width: 80vw;
  background-color: #293c97;
}

.titulo {
  font-size: 3rem;
  text-shadow: 2px 3px 1px #293c97;
}

.cancion .cancion__titulo {
  font-size: 2rem;
  color: black;
  font-family: "Raleway", sans-serif;
}

.cancion .cancion__video {
  border-radius: 15px;
}

.formulario button {
  background-color: #F55C47;
  border-color: #F55C47;
}

.formulario button:hover {
  background-color: #C70039;
  border-color: #C70039;
}

.formulario button::-moz-selection {
  background-color: #C70039;
  border-color: #C70039;
}

.formulario button::selection {
  background-color: #C70039;
  border-color: #C70039;
}

.formulario button:active {
  background-color: #C70039;
  border-color: #C70039;
  width: 500px;
}

#contacto, #sociales .sociales__titulo {
  font-size: 1.5rem;
  color: whitesmoke;
}

@media all and (min-width: 762px) {
  #contacto, #sociales .sociales__titulo {
    font-size: 2rem;
  }
}

#contacto p, #sociales .sociales__titulo p {
  font-size: 3rem;
}

.contacto__fondo {
  background: url("../media/contacto.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 3px #293c97 solid;
}

@media all and (min-width: 768px) {
  .contacto__fondo {
    min-height: 500px;
    -webkit-box-shadow: 10px 5px 1px #293c97;
            box-shadow: 10px 5px 1px #293c97;
  }
}

.form-control {
  resize: none;
}

.form-row input:focus, .form-row textarea:focus, .form-group input:focus, .form-group textarea:focus {
  -webkit-box-shadow: 0 0 10px #f55435;
          box-shadow: 0 0 10px #f55435;
}

.contacto__botones button {
  width: 5rem;
  background-color: #293c97;
  border: black;
}

.contacto__botones button:hover {
  background-color: #3752d6;
}

.contacto__botones button:active {
  width: 5rem;
  background-color: #3752d6 !important;
  -webkit-box-shadow: 0 0 10px #f55435 !important;
          box-shadow: 0 0 10px #f55435 !important;
}

.contacto__botones button:focus, .contacto__botones button:focus-within {
  background-color: #293c97;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contacto__botones .enviar {
  width: 10rem;
}

.contacto__botones .enviar:active {
  width: 10rem;
}

#sociales ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

#sociales .sociales__icono {
  width: 5em;
}
/*# sourceMappingURL=styles.css.map */