@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Raleway:wght@300&family=Shadows+Into+Light&display=swap");
.bg-gris {
  background-color: rgba(156, 156, 156, 0.5);
}

.tamaño-fuente-1 {
  font-size: 0.25rem;
}

.tamaño-fuente-2 {
  font-size: 0.5rem;
}

.tamaño-fuente-3 {
  font-size: 0.75rem;
}

.tamaño-fuente-4 {
  font-size: 1rem;
}

.tamaño-fuente-5 {
  font-size: 1.25rem;
}

.tamaño-fuente-6 {
  font-size: 1.5rem;
}

.tamaño-fuente-7 {
  font-size: 1.75rem;
}

.tamaño-fuente-8 {
  font-size: 2rem;
}

.tamaño-fuente-9 {
  font-size: 2.25rem;
}

.tamaño-fuente-10 {
  font-size: 2.5rem;
}

.ritmo-fondo {
  background-image: url("../media/acordes/ritmo.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
}

.convergentes-fondo {
  background-image: url("../media/acordes/convergentes.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
}

.tardenoche-fondo {
  background-image: url("../media/acordes/tardenoche.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
}

.niveo-fondo {
  background-image: url("../media/acordes/niveo.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
}

.llueve-fondo {
  background-image: url("../media/acordes/llueve.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
}

.vidrio-fondo {
  background-image: url("../media/acordes/vidrio.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}

#portada {
  background-image: url("../media/portada_mobile.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

#portada #titulo {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #050505;
  font-family: "Shadows Into Light", cursive;
}

#portada #flecha-abajo {
  position: absolute;
  bottom: 8px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#portada .portada_flecha-abajo--ajuste {
  width: 1.5rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

@media (min-width: 768px) {
  #portada {
    background-image: url("../media/portada.jpg");
  }
  #portada #titulo {
    top: 30%;
  }
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#111D5E));
  background: linear-gradient(to bottom, #000000, #111D5E);
}

#header #logo {
  height: 60px;
}

#header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
}

#header .nav-item {
  font-size: 2rem;
}

#header .nav-item a {
  color: rgba(245, 245, 245, 0.7);
  text-decoration: none;
}

#header .nav-item a:hover {
  color: #F55C47;
  text-decoration: none;
}

#footer {
  background-color: #9c9c9c;
}

#footer .list-group-item {
  background-color: #9c9c9c;
}

.footer_links--style a {
  color: #000;
  text-decoration: none;
}

.footer_links--style a:hover {
  color: #F55C47;
  text-decoration: none;
}

@media (min-width: 768px) {
  .list-group-horizontal-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.2rem;
  }
}

#album__nuevo {
  text-transform: capitalize;
  font-size: 1.5rem;
}

#album__titulo, #ultimas-canciones, .titulo {
  color: #F55C47;
  text-transform: uppercase;
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  font-size: 4rem;
  text-shadow: 30px 16px 10px #575757;
}

#album__disponible, .ahora {
  text-transform: lowercase;
  font-size: 1.25rem;
  font-style: italic;
}

#album__cover {
  -webkit-box-shadow: 30px 16px 10px #575757;
          box-shadow: 30px 16px 10px #575757;
}

.ahora {
  font-size: 1.75rem;
  font-weight: bold;
}

.album__redes a, .acordes__youtube a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

.album__redes a:hover, .acordes__youtube a:hover {
  color: #4aa96c;
}

.album__redes img, .acordes__youtube img {
  width: 40px;
}

#ultimas-canciones {
  font-size: 1.75rem;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: white;
}

.carousel-control-prev-icon--change-arrow {
  background-image: url("../media/icons/flecha.png");
}

.carousel-control-next-icon--change-arrow {
  background-image: url("../media/icons/flecha.png");
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.blog_titulo {
  margin-top: 1.5em;
}

.blog_preview {
  margin-top: 1em;
}

.blog_text {
  font-family: "Raleway", sans-serif;
}

.acordeText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

.escuchar img {
  width: 3rem;
  position: absolute;
  top: 75%;
  left: 25%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.descargar img {
  width: 3rem;
  position: absolute;
  top: 75%;
  left: 75%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.up-down {
  -webkit-animation: up-down 2.5s ease-in-out infinite;
          animation: up-down 2.5s ease-in-out infinite;
}

.titulo {
  font-size: 2.5rem;
  text-shadow: none;
}

.cancion .cancion__titulo {
  font-size: 2rem;
  color: black;
  font-family: "Raleway", sans-serif;
  text-shadow: 15px 3px 5px #575757;
}

.cancion .cancion__video {
  border-radius: 15px;
}

.bg-naranja {
  border: #d88912 solid 2px;
}

.bg-violeta {
  border: #d88912 solid 2px;
}

.formulario button {
  background-color: #F55C47;
  border-color: #F55C47;
}

.formulario button:hover {
  background-color: #C70039;
  border-color: #C70039;
}

.formulario button::-moz-selection {
  background-color: #C70039;
  border-color: #C70039;
}

.formulario button::selection {
  background-color: #C70039;
  border-color: #C70039;
}

.formulario button:active {
  background-color: #C70039;
  border-color: #C70039;
  width: 500px;
}

#contacto, #sociales .sociales__titulo {
  font-size: 2rem;
}

#contacto p, #sociales .sociales__titulo p {
  font-weight: bold;
  color: #F55C47;
}

#sociales ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
/*# sourceMappingURL=styles.css.map */