.acordes__youtube{
    @extend .album__redes;
}
.acordeText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $blanco;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
        @media all and (min-width: $lg-devices){
        font-size: 1.75rem;
    }
}
/* fondos de acordes */
@each $acorde-imagen in ritmo, convergentes, tardenoche, niveo, llueve, vidrio{
    .#{$acorde-imagen}-fondo{
        background-image: url("../media/acordes/#{$acorde-imagen}.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        box-shadow: 2px 3px 5px grey;
        border-radius: 5px;
        height: 40vh;
        min-height: 200px;
        @media all and (min-width: $sm-devices){
            min-height: 200px;
        }
        @media all and (min-width: $md-devices){
            max-height: 250px;
        }
        @media all and (min-width: $lg-devices){
            min-height: 300px;
        }
    }
}

/* fondos de acordes */
.acorde__boton{
    text-align: center;
    position: absolute;
    button{
        margin: 20px;
        
      }
    .custom-btn{
        width: 130px;
        height: 40px;
        color: black;
        font-weight: 600;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: $font-logo;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border:none;
        line-height: 42px;
        span{
            background-color: $naranjaTrans;
            border: black 1px solid;
            display: block;
            position: absolute;
            width: $width-acorde__boton;
            height: $height-acorde__boton;
            border-radius: 5px;
            margin:0;
            text-align: center;
            -webkit-transition: all .3s;
            transition: all .3s;
            box-shadow: 2px 3px 10px black;
            &:nth-child(1){
                -webkit-transform: rotateX(90deg);
                -moz-transform: rotateX(90deg);
                transform: rotateX(90deg);
                -webkit-transform-origin: 50% 50% -20px;
                -moz-transform-origin: 50% 50% -20px;
                transform-origin: 50% 50% -20px;
            }
            &:nth-child(2){
                -webkit-transform: rotateX(0deg);
                -moz-transform: rotateX(0deg);
                transform: rotateX(0deg);
                -webkit-transform-origin: 50% 50% -20px;
                -moz-transform-origin: 50% 50% -20px;
                transform-origin: 50% 50% -20px;
            }
            img{
                width: 2.5rem;
            }
        }
        &:hover span:nth-child(1) {
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
        }
        &:hover span:nth-child(2) {
            color: transparent;
            -webkit-transform: rotateX(-90deg);
            -moz-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
        } 
    }  
}
.escuchar{
    top: 65%; 
    left: 25%;
    transform: translate(-50%, -25%)
}
.descargar{
    top: 65%;
    left: 75%;
    transform: translate(-50%, -25%);
}
.noDisponible{
    line-height: 20px;
    color: rgb(54, 54, 54);
    cursor: not-allowed;
}