#album__nuevo{
    text-transform: capitalize;
    font-size: 1.5rem;
}
#album__titulo{
    color: $naranja;
    font-family: $font-logo;
    font-weight: 300;
    font-size: 2.5rem;
    font-style: italic;
    text-shadow: $sombra-fuente;
    @media all and (min-width: 762px){
        font-size: 4rem;
    }

}
#album__disponible{
    text-transform: lowercase;
    font-size: 1.25rem;
    font-style: italic;
}
#album__cover{
    box-shadow: $sombra-caja

}
.disponible-en{
    background-color: $naranja;
    min-height: 150px;
    border-bottom: 3px $azul solid;
    @media all and (min-width: 762px){
        box-shadow: $sombra-caja;
    }

}
.ahora{
    @extend #album__disponible;
    font-size: 1.75rem;
    font-weight: bold;
}
.album__redes{  
    @include link-hover(black, $azul);
    font-size: 1.5rem;
    img{
    width: 40px;
    }
}
#ultimas-canciones{
    @extend #album__titulo;
    font-size: 2rem;
    @media all and (min-width: 762px){
        font-size: 3rem;
    }
}