.blog_titulo{
    margin-top: 1.5em;
}
.blog_preview{
    margin-top: 1em;
}
.blog_text{
    font-family: $font-blog;

}
.card-blog{
    border: none;
    border-radius: 0;
    border-bottom: $azul solid 1px;
}
.collapse-blog{
    border: none;
    border-radius: 0;
    border-top: $azul solid 1px;
}
.leerMas{
    color: $azul;
    &:hover{
        color: $naranja;
        text-decoration: none;
    }
    &:focus{
        outline: none;
        box-shadow: none;
        text-decoration: none;
    };
}
.blog_album_titulo{
    font-size: 1.2rem;
    color: $naranja
}
.blog_album_descripcion, .parrafo{

    padding: .5rem 1rem 2rem 1rem;
}
.blog_destacado{
    color: $naranja;
    padding: .25rem 1rem .25rem 1rem;
}
.parrafo{
    padding: .25rem 1rem .25rem 1rem;

}