#carousel{
    img{
        width: 80vw;
        @media all and (min-width: $md-devices){
            width: 90vw
        };
        @media all and (min-width: $lg-devices){
            width: 60vw
        }
    }
}
.carousel-caption{
	@include link-hover($bg-whitesmoke, $naranja);
}
.carousel-indicators li{
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: $bg-whitesmoke;
}

// .carousel-control-prev-icon--change-arrow{
// 	background-image: url("../media/icons/flecha.png");
// }
// .carousel-control-next-icon--change-arrow{
// 	background-image: url("../media/icons/flecha.png");
//     transform: scaleX(-1);
// }
// .carousel-diagonal{
// 	.carousel-inner{
// 		.item{
// 			transition-property: opacity;
// 		}
// 		.item,
//         .active.left,
//         .active.right {
//             opacity: 0;
//         }

//         .active,
//         .next.left,
//         .prev.right {
//             opacity: 1;
//         }

//         .next,
//         .prev,
//         .active.left,
//         .active.right {
//             left: 0;
//             transform: translate3d(0, 0, 0);
//         }
// 	}
// }
// .carousel-zoom{
// 	.carousel-item>img{
// 		width: 100%;
// 		animation: zoom 10s forwards;
// 	}
// }
// .carousel-control-prev--move-left{
//  	width: 2rem;
// 	 background-color: $naranja;
// }
// .carousel-control-prev--move-right{
// 	width: 2rem;
// 	background-color: $naranja;
// }