body{
    font-family: $font-body;
    background-color: $blanco;
}
#portada{
    background-image: url("../media/portada_mobile.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    #titulo{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.25rem;
        color: rgb(5, 5, 5);
        font-family: $font-portada;
        @media all and (min-width: 315px){
            font-size: 1.75rem;
        }
        @media all and (min-width: $md-devices){
            font-size: 3rem;
        }
    }
    #flecha-abajo{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        @media all and (min-width: $lg-devices){
            bottom: 8px;
        }
    };
    .portada_flecha-abajo--ajuste{
        width: 1.5rem;
        transform: rotate(270deg);
    }
}
@media (min-width: $lg-devices){
    #portada{
        background-image: url("../media/portada.jpg");
        #titulo{
            top: 30%;
        }
    }
}
#header{
    background: linear-gradient(to bottom, black, $azul);
    position: sticky;
    top: 0;
    z-index: 3;
    min-height: 55px;
    border-top: black 2px solid;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
    #logo{
        height: 50px;
        @media all and (min-width: $md-devices) {
            height: 50px;
        }
        &:hover{
            transform: scale(1.05);
        }
        transition: 200ms ease-in-out;
    }
    .navbar{
        display: flex;
        font-weight: 400;
    }
    .nav-item{
        .active{
            color: $naranja;
        }
        font-size: 1.25rem;
        @media all and (min-width: $md-devices){
            font-size: 1.5rem;
        };
        @include link-hover(rgba(245, 245, 245, .7), $naranja);
    }
}

#footer{
    background: linear-gradient(to top, black, $azul);
    min-height: 100px;
    .footer__lista{
        list-style: none;
        position: relative;
        margin-top: .5rem;
        justify-content: center;
        img{
            width: 1.25rem;
        }
        .footer_line{
            position: absolute;
            height: 20px;
            top: .2rem;
            background: none;
            border-width: 0 0 0 2px;
            border-color: $naranja;
            border-style: solid;
        }
    }
    .footer_name{
        color: rgba(245, 245, 245, .7);
        font-style: italic;
        font-size: .7rem;
        @media all and (min-width: $md-devices){
            font-size: .9rem;;
        }
    }
}
 /* animaciones */
 #titulo{
    width: 18ch;
    animation: typing 2s steps(18), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}
@keyframes typing{
    from {
      width: 0
    }
} 
@keyframes blink {
    50% {
      border-color: transparent
    }
}

.up-down{
    animation: up-down 2.5s ease-in-out infinite
}
@keyframes up-down{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3rem);
    }
    100%{
        transform: translateY(0);
    }
}

.bump:hover{
    animation:  bump .25s ease-in-out;
  }
  @keyframes bump{
      33%{
          transform: scale(1.05);
      }
      66%{
          transform: scale(0.9);
      }
      100%{
          transform: scale(1.0);
      }
  }

 /* scrollbar styling */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: $naranja;
}
::-webkit-scrollbar-thumb:active{
    background: $naranja2;
}

