body{
    font-family: $font-body;
    background-color: $bg-whitesmoke;
}
#portada{
    background-image: url("../media/portada_mobile.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    #titulo{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        color: rgb(5, 5, 5);
        font-family: $font-portada;
        @media all and (min-width: 315px){
            font-size: 2rem;
        }
        @media all and (min-width: 762px){
            font-size: 3rem;
        }
    }
    #flecha-abajo{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        @media all and (min-width: 992px){
            bottom: 8px;
        }
    };
    .portada_flecha-abajo--ajuste{
        width: 1.5rem;
        transform: rotate(270deg);
    }
}
@media (min-width: 768px){
    #portada{
        background-image: url("../media/portada.jpg");
        #titulo{
            top: 30%;
        }
    }
}
#header{
    background: linear-gradient(to bottom, black, $azul);
    position: sticky;
    top: 0;
    z-index: 2;
    min-height: 80px;
    border-top: black 2px solid;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
    #logo{
        height: 60px;
        @media all and (min-width: 762px) {
            height: 50px;
        }
        &:hover{
            transform: scale(1.05);
        }
        transition: 200ms ease-in-out;
    }
    .navbar{
        display: flex;
        font-weight: 400;
    }
    .nav-item{
        .active{
            color: $naranja;
        }
        font-size: 1.5rem;
        @media all and (min-width: 762px){
            font-size: 2rem;
        };
        @include link-hover(rgba(245, 245, 245, .7), $naranja);
    }
}

#footer{
    background: linear-gradient(to top, black, $azul);
    position: relative;
    .list-group{
        list-style: none;
        position: relative;
    }
    .list-group-item{
        background: none;
        border-color: $naranja
    }
    .footer_links{
        @include link-hover(rgba(245, 245, 245, .7), $naranja); 
        font-size: 1rem;
    }
    @media (min-width: 768px){
        min-height: 100px;
        .list-group{
            margin-top: .5rem;
        }
	    .list-group-horizontal-md{
		    justify-content: center;
		    font-size: 1.2rem;
            .list-group-item{
                border: none;
            }
            .sociales__icono{
                
                fill: whitesmoke;
                
            }
            .footer_line{
                position: absolute;
                height: 5px;
                top: .2rem;
                background: none;
                border-width: 0 0 0 2px;
                border-color: $naranja;
                border-style: solid;
            }
	    }
    }
    .footer_name{
        color: rgba(245, 245, 245, .7);
        font-style: italic;
        font-size: .7rem;
        @media all and (min-width: $md-devices){
            font-size: .9rem;;
        }
    }
}
 /* scrollbar styling */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: $naranja;
}
::-webkit-scrollbar-thumb:active{
    background: $naranja2;
}

