#musica{
    hr{
        width: 80vw;
        background-color: $azul;
    }
}
.titulo{
    @extend #album__titulo;
    font-size: 3rem;
    text-shadow: $sombra-fuente;
}
.cancion{
    // box-shadow: 15px 3px 5px rgb(87, 87, 87);
    .cancion__titulo{
        font-size: 2rem;
        color: black;
        font-family: $font-blog;

    }
    .cancion__video{
        border-radius: 15px;
    }
}
