#musica{
    hr{
        width: 80vw;
        background-color: $azul;
    }
}
.titulo{
    @extend #album__titulo;
    text-shadow: $sombra-fuente;
    font-size: 2.25rem;
    @media all and (min-width: $md-devices){
        font-size: 3rem;            
    }
}
.cancion{
    border-bottom: 1px $azul solid;
    .cancion__titulo{
        color: black;
        font-family: $font-blog;
        font-size: 1.75rem;
        @media all and (min-width: $md-devices){
            font-size: 2rem;            
        }
    }
    .cancion__descripcion{
        font-size: 1rem;
        font-style: italic;
    }
    .cancion__video{
        border-radius: 15px;
    }
}

