$font-logo: 'Poppins', sans-serif;
$font-body: 'Montserrat', sans-serif;
$font-blog: 'Raleway', sans-serif;
$font-portada: 'Oxygen Mono', monospace;

$sm-devices: 576px;
$md-devices: 768px;
$lg-devices: 992px;
$xl-devices: 1200px;

$blanco: rgb(245, 245, 245);
$azul: #293c97;
$azul2: #3752d6;
$naranja: #f55435;
$naranja2: rgb(216, 137, 18);
$naranjaTrans: rgba(245, 84, 53, .8);

$sombra-fuente: 2px 3px 1px $azul;
$sombra-caja: 10px 5px 1px $azul;

$width-acorde__boton: 100px;
$height-acorde__boton: 40px;

@mixin link-hover($inactivo, $activo){
    a{
        text-decoration: none;
        color: $inactivo;
        &:hover{
            color: $activo;
        } 
    }
}
@mixin boton{
    background-color: #F55C47;
    border-color: #F55C47;
    &:hover{
        background-color: #C70039;
        border-color: #C70039;
    }
    &::selection{
        background-color: #C70039;
        border-color: #C70039;
    }
    &:active{
        background-color: #C70039;
        border-color: #C70039;
        width: 500px;
    }
}

/* Tamaños de fuentes */
@for $i from 1 through 10{
    .tamaño-fuente-#{$i}{font-size: .25rem * $i;}
}

